#enviarForm {
  background-color: var(--color-secundario);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#enviarForm:hover {
  background-color: #6bb2ff;
}

.logout-arrow {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgb(98, 117, 193);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  position: fixed;
}

.logout-arrow:hover {
  background-color: rgb(80, 100, 170);
}
