form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

input {
  height: 25px;
  width: 100%;
}

input:required,
select:required {
  outline: none;
  border: 2px solid red;
}

input:required:valid,
select:required:valid {
  border: 2px solid green;
  background-color: white;
}

textarea {
  height: 80px;
  width: 100%;
}

select {
  height: 30px;
  width: 100%;
}

.seccionFormulario {
  background-color: #f0f8ff;
}
