header {
  background-color: rgb(98, 117, 193);
  text-align: center;
  position: relative; /* para posicionar el botón dentro */
  padding: 15px;
}

/* Botón logout */
.logout-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: white;
  color: rgb(98, 117, 193);
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: var(--color-secundario);
  color: white;
}
