@mixin estilo-imagen(
  $width,
  $height,
  $border-radius,
  $display,
  $margin,
  $position,
  $top,
  $left,
  $object-fit,
  $opacity,
  $transition,
  $z-index
) {
  width: $width;
  height: $height;
  border-radius: $border-radius;
  display: $display;
  margin: $margin;
  position: $position;
  top: $top;
  left: $left;
  object-fit: $object-fit;
  opacity: $opacity;
  transition: $transition;
  z-index: $z-index;
}

#inicio img {
  @include estilo-imagen(
    30%,
    auto,
    20px,
    block,
    20px auto,
    static,
    auto,
    auto,
    auto,
    1,
    null,
    auto
  );
}

.galeria {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
  aspect-ratio: 16 / 9;
}

.galeria img {
  @include estilo-imagen(
    100%,
    100%,
    20px,
    static,
    0,
    absolute,
    0,
    0,
    cover,
    0,
    opacity 1s ease-in-out,
    0
  );
}

.galeria img.active {
  opacity: 1;
  z-index: 1;
}
