@media screen and (max-width: 950px) {
  .nav-menu ul {
    grid-template-columns: repeat(2, auto);
  }
  .nav-menu a {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .bloque {
    width: 90%;
    margin: 10px auto;
    padding: 1rem 1.5rem;
  }

  .bloque h3 {
    font-size: 16px;
  }

  .bloque a {
    font-size: 16px;
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  .caja {
    flex: 1 1 30%;
    max-width: none;
    min-width: auto;
  }
}

@media (max-width: 600px) {
  .nutricionSemanal {
    justify-content: center;
  }
  .caja {
    flex: 1 1 45%;
    max-width: none;
    min-width: auto;
    margin: 10px 5px;
  }
}
